body{
  background-color: #ebe7f0;
  margin: 0;
}

h1 {
         color: #836f94;
         margin-left: 20px;
       }
p {
         color: blue;
         font-family: 'The Nautigal', cursive;
         font-size: 28px;
       }

.classTest {
    color: #6A6B83;
    background-color: #baabdb;
    
}

#heading{
    color: #8a44a6;
    background-color: #d3bbff;
}

hr {
   height: 2px;
   width: 100%;
   margin-top: 0;
   color: #275d6b;
   margin-bottom: -21px;
}


.container{
  display: flex;
  align-content: center;
  background-color: #ebdbe3;
 padding-bottom:100px;
}
.container div{
  align-items: center;
  margin: 20px;
  width: 100%;
}
.div1{
  width: 50%;
  float: left;
  padding: 10px;
  min-width: 200px;
  width: calc(100% - 70px);
  height: 300px;
  object-fit: cover;
  float: none;
  border-radius: 0px;
  margin-bottom: 0px;
}
.div2{
  width: 50%;
  float: right;
  padding: 10px;
  min-width: 200px;
  width: calc(100% - 70px);
  height: 300px;
  object-fit: cover;
  float: none;
  border-radius: 25px;
  margin-bottom: 0px;
}

.box{
  position: relative;
}

.endpic{
  position: relative;
  top: 50%;
  left: 35%;
}

.myButton {
	box-shadow: 3px 4px 0px 0px #2d8aa6;
	background:linear-gradient(to bottom, #edd5ed 5%, #ba7eba 100%);
	background-color:#edd5ed;
	border-radius:15px;
	border:1px solid #bf4cbf;
	display:inline-block;
	cursor:pointer;
	color:#275d6b;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #838dfc;
  margin-bottom: 5%;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ba7eba 5%, #edd5ed 100%);
	background-color:#ba7eba;
}
.myButton:active {
	position:relative;
	top:1px;
}

.Me{ 
  color: rgb(102, 102, 163);
}

.title{
  position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #c2c7ce;
    box-sizing: border-box;
    width: 100%;
}



.div3{
  width: 50%;
  float: left;
}
.div4{
  width: 50%;
  float: right;
}

.section{
  margin: 30px ;
  margin-top: 125px;
}

.myButton1{
	border:none;
	cursor:pointer;
	color:#006079; 
  padding: 0;
  margin-left: 20%;
}

.myButton1 img{
  padding: 10px;
  min-width: 200px;
  height: 300px;
  object-fit: cover;
  float: none;
  border-radius: 25px;
  margin-bottom: 0px;
  border-color: rgb(5, 5, 5);
  border-width: 100px;
}

.buttontext{
  width: 100%;
  position: relative;
  margin-top: -40%;
  left: 180px;
  top: 15px;
  margin-right: 0%;
}

.buttontext h3{
  text-align: center;
  color: rgb(36, 33, 33);
  font-size: 16px;
  font-family: cursive;
}

.Sm{
  text-align: center;
  background-color: #c7aac7;
}